*{
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(6, 6, 7);
}
:root{
    --orange: rgb(132, 233, 233);
    --winning-divs: #fa0d2c;
}
#board{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-top: 2px solid;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(n){
    border-left: none;
}
.box:nth-child(1) ~ .box:nth-child(3) {
    border-top: none;
}
.box:first-child {
    border-top: none;
}
.box:nth-child(2){
    border-top: none;
}
.restart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 50px;
    width: 60px;
}
h1{
    color: aqua;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 20px;
}
